# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite Database
*.db
*.sqlite3
*.db-journal

# Logs
logs/
*.log

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Static Media Uploads (Avoid uploading images to git)
app/static/chat_uploads/
app/static/uploads/

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Test Scripts
test_*.py

# IDE
.vscode/
